.section {
  padding: 15px;
  font-size: 24px;
}

.intro {
  padding: 15px;
  font-size: 14px;
  color: grey;
}

.item {
  padding: 15px;
  font-size: 18px;
}

.content {
  .item {
    margin-bottom: 20rpx;
    height: 100rpx;
    border-radius: 9999;
    background: linear-gradient(to bottom right, #06bdfc, transparent);
  }
}
